cartopy>=0.19
dill
entrezpy>=2.1.2
geopandas
geopy
ipympl
jupyter_contrib_nbextensions
jupyterlab
matplotlib
pandana
pandoc
pysal==2.1.0
python-dotenv
pyzotero
q2-cutadapt
q2-dada2
q2-demux
q2-diversity
q2-emperor
q2-feature-table
q2-sample-classifier
q2-types
q2cli
q2templates
qiime2
scikit-bio<=0.5.6
sourmash
tqdm>=4.62.3
urbanaccess
xmltodict
wget
